# Ignore all dotfiles except for .gitignore and .dockerignore
.*
!.gitignore
!.dockerignore

# Ignore build distribution artifacts
deploy/*
work/*

# Ignore custom built setting files
SKIP
SKIP_IMAGES